<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
<!-- CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myQuizzes.css" type="text/css" />

    <!-- Javascript-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Cinzel+Decorative&family=Monoton&family=Raleway+Dots&family=Suranna&display=swap" rel="stylesheet">

   <style>
      body {
      /* Set "my-sec-counter" to 0 */
      counter-reset: my-sec-counter;
      }

      h2::before {
      /* Decrement "my-sec-counter" by 1 */
      counter-increment: my-sec-counter -1;
      content: "Quiz " counter(my-sec-counter) ". ";
      }
    </style>

    <script type="text/javascript">
       $(document).ready(function(){
         for (let id of userId){
           let newUrl1 ="/create/${id}";
           let newUrl2 ="/myquiz/${id}>";
          $('#createlink').attr('href', newUrl1);
          $('myquizlink').attr('href', newUrl2);
          console.log(newUrl1,newUrl2);
         }
      })
    </script>
  </head>

  <body class="homepage-body">
    <header class="nav-header">
      <nav>
        <!-- logo will be a home button -->
        <button class="logo" type="button"><a href="">QUIZ WIZ</a></button>

          <div class="nav-buttons">

           <button class="create-quiz"><a  id="createlink" class="createlink" href="/create">Create a Quiz</a></button>

            <button class="my-quizzes"><a id="myquizlink" class="myquizlink" href="/myquiz/<%-userId[0].userid%>">My Quizzes</a></button>
          </div>

          <button type = "submit" class="logout">Log out</button>

      </nav>
    </header>

<!-- *** in CSS make sure to set to float:left, width:33% ***-->
    <div id="home-fullscreen">
      <div class="welcome-message">
        <p class=>SCROLL DOWN<br> TO CHECK OUT SOME PUBLIC QUIZZES</p>
        <button class="welcome-button"><a  id="createlink" class="createlink" href="/create">CREATE NOW</a></button>
        <p class= "info-message">An easy to use Web App for<br> creating and taking quizzes!</p>
      </div>
    </div>

    <!-- DELETE /<%- userId[0].userid %> -->


    <div id="home-body">

      <div class="public-quizzes">
        <% for (let quiz of userData) {%>

        <div class="public-quizzes-homepage">

          <div class="home-my-quizzes">
            <h2 class="my-quiz-title"></h2>
            <h3><%- quiz.title %></h3>
            <p class="url-text">Created By: <%- quiz.name %></p>

            <form method="get" action="/quiz/<%-quiz.userid%>/<%-quiz.quizid%>">
              <button class="home-start-quiz" type="submit">Try It!</button>
            </form>

            <!-- DELETE /<%-quiz.quizid%> -->

            <br>
            <p class="url-text">Share: localhost:8080/quiz/<%-quiz.userid%>/<%-quiz.quizid%></p>
          </div>
        </div>
        <%}%>


      </div>
    </div>
    <footer class="home-footer">Quiz Wiz: A web app made by: Hawaa, Brian, Amy</footer>
  </body>
</html>
