<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
<!-- CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Javascript-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <style>
      body {
      /* Set "my-sec-counter" to 0 */
      counter-reset: my-sec-counter;
      }

      h2::before {
      /* Decrement "my-sec-counter" by 1 */
      counter-increment: my-sec-counter -1;
      content: "Quiz " counter(my-sec-counter) ". ";
      }
      </style>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

<!-- *** in CSS make sure to set to float:left, width:33% ***-->
    <h1>WELCOME TO QUIZ WIZ!</h1>

    <% for (let quiz of userData) {%>

    <span class="public-quizzes-homepage">
      <div class="my-quizzes">
        <h2 class="my-quiz-title"></h2><h3><%- quiz.title %></h3>

        <p class="url-text">localhost:8080/myquiz/<%- quiz.userid %>/<%- quiz.quizid %></p>

        <p class="url-text">Created By: <%- quiz.name %></p>

        <img class="Quiz-profile-image" src="https://i.guim.co.uk/img/media/7a633730f5f90db3c12f6efc954a2d5b475c3d4a/0_138_5544_3327/master/5544.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=6d246ca192c6f0c8cf3bdc40f8a43b63" width="100" height="100">
        <button type="submit">Start!</button>

      </div>
      <%}%>

    </span>

  </body>
</html>
