<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Quizzes</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- CSS FILE -->
  </head>

  <body>
    <header>
      <nav>
        <!-- logo will be a home button -->
        <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>

          <div class="nav-header">
            <a class="create-quiz" href="/create/<%- userId %>">Create a Quiz</a>
            <a class="my-quizzes" href="/myquiz/<%- userId %>">My Quizzes</a>
          </div>

          <button type = "submit" class="btn btn-dark btn-sm">Log out</button>

      </nav>
    </header>

    <% if (userData.length > 0) {%>
    <h1 class="my-quiz-title">My Quizzes for: <%= userData[0].name %></h1>
    <%}%>

    <% for (let quiz of userData) {%>


    <div class="my-quizzes">
      <h1 class="my-quiz-title">My Quiz #<%- userData.length %>: <%- quiz.title %></h1>
      <p class="url-text">localhost:8080/myquiz/<%- quiz.userid %>/<%- quiz.quizid %></p>
      <img class="Quiz-profile-image" src="https://i.guim.co.uk/img/media/7a633730f5f90db3c12f6efc954a2d5b475c3d4a/0_138_5544_3327/master/5544.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=6d246ca192c6f0c8cf3bdc40f8a43b63" width="100" height="100">
      <button class="start-quiz" type="submit">Start!</button>

      <form method="post" action="<%- userId %>/<%- quiz.quizid %>">
        <button class="delete-my-quiz" type="submit">Delete</button>
      </form>

    </div>
    <%}%>


  </body>
</html>
