<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Quizzes</title>

    <!-- CSS FILES -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myQuizzes.css" type="text/css" />

    <!--JAVSCRIPT-->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/myQuizzes.js"></script>

   <!-- GOOGLE FONTS-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Cinzel+Decorative&family=Monoton&family=Raleway+Dots&family=Suranna&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <!-- logo will be a home button -->
        <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>

          <div class="nav-header">

            <button class="create-quiz"><a  id="createlink" class="createlink" href="/create">Create a Quiz</a></button>

            <button class="my-quizzes"><a id="myquizlink" class="myquizlink" href="/myquiz/<%-userId%>">My Quizzes</a></button>


          </div>

          <button type = "submit" class="logout">Log out</button>

      </nav>
    </header>

    <div id="myquiz-body">

    <% if (userData.length > 0) {%>
    <h1 class="my-quiz-title">My Quizzes for: <%= userData[0].name %></h1>
    <%}%>


      <div class="myquiz-div">
        <% for (let quiz of userData) {%>
        <div class="my-quizzes-box">

          <h1 class="my-quiz-title"><%- quiz.title %></h1>

          <p class="url-text">Share: localhost:8080/quiz/<%-userId%>/<%-quiz.quizid%></p>



          <div class="myquiz-buttons">
            <form method="post" action="http://localhost:8080/myquiz/<%-userId%>/<%-quiz.quizid%>">
            <button class="myquiz-start-quiz" type="submit">Start!</button>
            </form>

            <form method="post" action="http://localhost:8080/myquiz/<%-userId%>/<%-quiz.quizid%>/delete">
              <button class="delete-my-quiz" type="submit">Delete</button>
            </form>
          </div>

        </div>
        <%}%>
      </div>
    </div>

  </body>
</html>
