<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Start the Quiz!</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/quiz.js"></script>

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Cinzel+Decorative&family=Monoton&family=Raleway+Dots&family=Suranna&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <nav>
        <!-- logo will be a home button -->
        <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>

          <div class="nav-header">
            <a class="create-quiz" href="/create/<%- userId %>">Create a Quiz</a>
            <a class="my-quizzes" href="/myquiz/<%- userId %>">My Quizzes</a>
          </div>

          <button type = "submit" class="btn btn-dark btn-sm">Log out</button>

      </nav>
    </header>
    <!-- general quiz page layout -->



    </div>


    <br>
    <div> <h1><%- quizData[0].title %></h1></div><br>

    <% for (let i=0;i<quizData.length;i=i+4){%>


    <div class="quiz_content">
      <div><h3> <%- quizData[i].question %></h3></div>
     <% for (let j=0;j<4;j++){%>
        <div>
          <p>Quiz Answers: <%- quizData[j].answer %></p>
          <input id="checkAnswer" type="checkbox"></input>
        </div>
        <%}%>
    </div>
    <%}%>
    <div class="quiz_sidebar">



    <form method="post" action="results/<%- quizData[0] %>/<%- quizData[0].quiz_id %>">
      <button class="submit-my-quiz" type="submit">Submit Quiz!</button>
    </form>

  </body>
</html>
