<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Start the Quiz!</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myQuizzes.css" type="text/css" />

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/quiz.js"></script>
    <script type="text/javascript" src="/routes/results.js"></script>

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Cinzel+Decorative&family=Monoton&family=Raleway+Dots&family=Suranna&display=swap" rel="stylesheet">

  </head>

  <body class="quiz-body">
    <header class="nav-header">
      <nav>
        <!-- logo will be a home button -->
        <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>

          <div class="nav-buttons">
            <button class="create-quiz"><a  id="createlink" class="createlink" href="/create">Create a Quiz</a></button>

            <button class="my-quizzes"><a id="myquizlink" class="myquizlink" href="/myquiz/<%- quizData[0].user_id %>">My Quizzes</a></button>
          </div>

          <button type = "submit" class="btn btn-dark btn-sm">Log out</button>

      </nav>
    </header>
    <!-- general quiz page layout -->

    <% for (let user of quizData) {%>
    <form method="post" action="http://localhost:8080/quiz/<%-user.user_id%>/<%-user.quiz_id%>">
    <%}%>


        <div class="quiz-page">


          <br>
          <div> <h1><%- quizData[0].title %></h1></div><br>

          <% for (let i=0;i<quizData.length;i=i+4){%>


          <div class="quiz_content">
            <div ><h1> <%- quizData[i].question %></h3></div>
            <% for (let j=0;j<4;j++){%>
              <div class="input-answer">
                <input class="checkAnswer" name="checkAnswer<%-i%>" value="<%- quizData[j].answer %>" type="radio"></input>
                <p>Quiz Answers: <%- quizData[j].answer %></p>
              </div>
            <%}%>
          </div>
          <%}%>


      <button class="submit-my-quiz" type="submit">Submit Quiz!</button>
    </form>

    </div>


  </body>
</html>
