<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz Result</title>
<!-- CSS FILES -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myQuizzes.css" type="text/css" />

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/results.js"></script>

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel&family=Cinzel+Decorative&family=Monoton&family=Raleway+Dots&family=Suranna&display=swap" rel="stylesheet">
  </head>

  <body class="results-body">

    <header class="nav-header">
      <nav>
        <!-- logo will be a home button -->
        <button class="logo" type="button"><a href="/">QUIZ WIZ</a></button>

          <div class="nav-buttons">
            <button class="create-quiz"><a  id="createlink" class="createlink" href="/create">Create a Quiz</a></button>

            <button class="my-quizzes"><a id="myquizlink" class="myquizlink" href="/myquiz/<%-userId%>">My Quizzes</a></button>
          </div>

          <button type = "submit" class="btn btn-dark btn-sm">Log out</button>

      </nav>
    </header>

    <div class="results-div">

      <div class="result-box">
        <h1>Result for: <%- userName %></h1>

        <br>
          <p>Quiz Title:<strong> <%- quizTitle %></strong></p><br>
          <p>Total questions:<strong> 5 questions</strong></p><br>
          <p>Total correct:<strong> <%- userScore %> questions</strong></p><br>
          <br>
          <p>Share your results for this attempt:<strong> http://localhost:8080/results/<%-userId%>/<%-quizId%></strong></p>
      </div>

    </div>
  </body>
</html>

